* {
    box-sizing: border-box;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

body {
    margin: 0;
    background-color: var(--clr4);
    padding: 15px 350px;
}